body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.videoList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  /* align-content: space-around; */
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
}

.videoCard {
  margin: 10px !important;
  width: 365px !important;
}

.videoPlaceholder {
  width: 365px !important;
  margin: 10px !important;
  height: 276.75px;
}

.visibility {
  height: 1px;
}

#loadButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* #homeButton {
  position: fixed;
} */

.menuBar {
  display: flex !important;
}

.searchBar {
  width: 200px !important;
}

#homeSearch {
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin-top: 150px;
  /* top: 250px; */
  /* width: 10%; */
  display: flex;
  justify-content: center;
  height: 100vh;
}
