body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.search {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  width: 10%;
}

.videoList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  /* align-content: space-around; */
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
}

.videoCard {
  margin: 10px !important;
  width: 365px !important;
}
