body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.videoList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
}

.videoCard {
  margin: 10px !important;
  width: 365px !important;
}

.videoPlaceholder {
  width: 365px !important;
  margin: 10px !important;
  height: 276.75px;
}

#loadButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.searchBar {
  width: 200px !important;
}

#homeSearch {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dimmer {
  margin-top: 50px;
}
